$contentWidth: 1000px;

.wrapper{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 40px 0px; 
    padding: 50px 0px 0px 0px;
    width: 100%;

    >h2{
        font-size: 45px;
        margin: 10px 0px 50px 0px;
    }

    .components{
        display: flex;
        flex-direction: row;
        width: $contentWidth;

        .textComponent{
            display: flex; 
            flex-direction: column;
            align-items: center;
            padding: 50px 40px 0px 40px;
            >h2{
                font-size: 30px;
                margin-bottom: 20px;
            }
            >p{
                display: flex;
                font-size: 20px;
                width: 85%;
                justify-content: center;
            }
        }
        
        .picComponent{
            display:flex; 
            flex-direction:row;
            width:auto;
            img{
                width: 350px;
                height: 270px;
            }
        }
    }
}



