.wrapper{
    border: 1px solid black;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 00px 0px; 
    padding: 50px 0px 0px 0px;
    width: 100%;

    background-size: cover;
    flex-grow: 1;


    .content{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 30vh;
        border: 1px solid black;
        justify-content: space-between;
        background-color: white;
        align-items: center;
    }

}