.wrapper{
    top: 100px;
    position: fixed;
    min-height: 60px;
    min-width: 60px;
    margin-left: 20px;
    padding: 5px;
    z-index: 50;
    // border: 1px solid black
    // position: relative;

}