$move: 10px;

.content{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;   
    flex-grow: 1;



    
};

:export {
    move: $move
}