 .canva{
            border: 1px solid green;
            // position: absolute;
            // top: 0px;
            z-index: 40;
        }


.wrapper{
    display: flex;
    flex-direction: column;
    border: 4px double black;
    // width: 100%;
    flex-grow: 0;
}