.wrapper{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;   
    flex-grow: 1;

    // border: 1px solid black;

    .content{
        width: 100%;
        display:flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        .block{
            // position: relative;
            width: 100%;
        }
       
       

       
    }
};